@page "/"
@model ITSummit2022App.Pages.Home
@{
  Layout = "_Layout";
}

<h3>Web Application Vulnerabilities</h3>
<ul id="topics">
  <li><a href="SQLInjection">Topic 1, SQL Injection</a></li>
  <li><a href="ExposingSecrets">Topic 2, Exposing Secrets</a></li>
  <li><a href="AccessControls">Topic 3, Access Controls</a></li>
</ul>

